/* Global */

body {
  font-family: sans-serif;
  color: #212529;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.yellow-text {
  color: #fce300;
}

.navy-text {
  color: #224b7e;
}

.blue-text {
  color: #0174c7;
}

#top {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Navbar */

.navbar {
  background-color: rgba(255, 255, 255, 1);
}

.nav-logo {
  width: 145px;
  height: auto;
  margin-bottom: 13px;
}

.nav-link {
  padding: 14px !important;
  font-size: 13px;
  font-weight: 700;
  color: #233c5f !important;
  transition: 0.3s;
}

.nav-link:hover {
  color: #f61403 !important;
}

.nav-btn {
  padding: 10px 25px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 200;
  background-color: #233c5f;
  transition: 0.3s;
}

.nav-btn:hover {
  background-color: grey;
}

@media (min-width: 992px) {
  .navbar-nav {
    margin-right: 5%;
  }
}

@media (min-width: 1200px) {
  .navbar-nav {
    margin-right: 12%;
  }
}

@media (min-width: 1400px) {
  .navbar-nav {
    margin-right: 20%;
  }
}

/* Hero */

.hero-section {
  margin-top: 98px;
  padding: 30px 0;
  background-image: url(https://images.clickfunnels.com/dc/bde96c1bc340c793107f5d47e8da84/bgblue.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -1px;
}

.hero-detail {
  font-size: 20px;
  font-weight: 500;
}

.section-list {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -1px;
}

.hero-form {
  border-radius: 10px;
  box-shadow: 0px 3px 19px -16px rgb(0 0 0 / 75%);
  overflow: hidden;
}

.hero-form-header {
  padding: 20px 30px;
  color: white;
  background-color: #233c5f;
}

.hero-form-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
}

.hero-form-body {
  padding: 15px 20px 40px;
  background-color: white;
}

.hero-form-input {
  height: 48px;
  margin-bottom: 10px;
}

.hero-form-input:focus {
  border: 1px solid #42b0e2;
  box-shadow: none;
}

.hero-form-btn {
  padding: 10px 25px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 200;
  background-color: #f61403;
  transition: 0.3s;
}

.hero-form-btn:hover {
  background-color: grey;
}

.hero-form-detail {
  font-size: 14px;
  text-align: center;
  color: #2d2d2d;
}

@media (min-width: 992px) {
  .hero-section {
    padding: 80px 0 50px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-form-title {
    font-size: 30px;
  }
}

/* Review Section */

.review-section {
  padding: 20px 0;
}

.review-detail {
  font-size: 20px;
  color: #343434;
}

/* About Section */

.about-section {
  padding: 50px 15px;
  background-color: #f8f8f8;
}

.about-card {
  max-width: 550px;
  padding: 20px;
  border-top: 5px solid #254774;
  background-color: white;
  box-shadow: 0px 3px 19px -16px rgb(0 0 0 / 75%);
  transition: 0.4s;
  cursor: pointer;
  cursor: pointer;
}

.about-card:hover {
  transform: scale(1.03);
}

.about-title {
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: -1px;
  color: #2d2d2d;
}

.section-detail {
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 992px) {
  .about-section {
    padding: 120px 0 80px;
  }
  .about-card {
    margin-left: -30px;
    padding: 20px 40px 10px;
  }
  .about-title {
    font-size: 32px;
  }
}

/* How Section */

.how-section {
  padding: 50px 10px;
}

.section-subtitle {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #233c5f;
}

.how-title {
  font-size: 30px;
  line-height: 1.3;
  letter-spacing: -1px;
  color: #2d2d2d;
}

.how-card-group {
  position: relative;
}

.navy-bg {
  position: absolute;
  z-index: -1;
  top: 30px;
  left: -15px;
  bottom: 30px;
  right: -15px;
  border-radius: 10px;
  background-image: linear-gradient( 189deg, rgb(35, 60, 95) 1%, rgb(41, 92, 158) 100%);
}

.how-card {
  height: 100%;
  padding: 25px;
  border-top: 5px solid #254774;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 4px 22px -13px;
  background-color: white;
  transition: 0.4s;
  cursor: pointer;
}

.how-card:hover {
  transform: scale(1.03);
}

.how-card-img {
  width: 75px;
  height: auto;
}

.how-card-title {
  font-size: 24px;
  line-height: 1.3;
}

.how-card-detail {
  font-size: 16px;
  font-weight: 500;
}

.start-btn {
  padding: 10px 40px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 200;
  background-color: #233c5f;
  transition: 0.3s;
}

.start-btn:hover {
  background-color: grey;
}

@media (min-width: 992px) {
  .how-section {
    padding: 80px 0;
  }
  .how-title {
    font-size: 36px;
  }
  .navy-bg {
    left: -20px;
    right: -20px;
  }
}

/* Reason Section */

.reason-section {
  padding: 50px 0;
  background-image: url(https://images.clickfunnels.com/dc/bde96c1bc340c793107f5d47e8da84/bgblue.jpg);
  background-position-y: -3px;
  background-repeat: no-repeat;
}

.reason-title {
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -1px;
}

.reason-link {
  color: white;
  transition: 0.3s;
}

.reason-link:hover {
  color: grey;
}

.reason-card {
  padding: 30px;
  border-radius: 10px;
  background-color: white;
}

.reason-card-title {
  font-size: 14px;
  font-weight: bold;
  color: #233c5f;
}

.reason-card-detail {
  max-width: 380px;
  line-height: 1.3;
}

@media (min-width: 992px) {
  .reason-section {
    padding: 80px 0;
  }
  .reason-title {
    font-size: 32px;
  }
  .reason-card {
    padding: 30px 45px;
  }
}

/* Testimonial Section */

.testi-section {
  padding: 50px 0;
}

.testi-card {
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 25px -16px rgb(0 0 0 / 75%);
}

.testi-card-title {
  font-size: 30px;
}

.avatar-img {
  width: 80px;
  height: auto;
  border-radius: 50%;
}

.review-title {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
}

.review-content {
  font-size: 14px;
}

@media (min-width: 992px) {
  .testi-section {
    padding: 140px 0 50px;
  }
  .testi-card {
    padding: 30px 60px;
  }
  .testi-card-title {
    font-size: 36px;
  }
}

/* Video Section */

.video-item {
  height: 193px;
  border: 5px solid #233c5f;
  border-radius: 10px;
}

/* Start Section */

.start-section {
  padding: 50px 0;
}

.start-title {
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -1px;
}

@media (min-width: 992px) {
  .start-section {
    padding: 180px 0 140px;
  }
  .start-title {
    font-size: 38px;
  }
}

/* FAQ Section */

.faq-section {
  padding: 50px 0;
  background-color: rgb(37, 71, 116);
  background-image: url(https://images.clickfunnels.com/00/806b66504f425da8501d0f6c2be5c6/bgtest.jpg);
  background-position-y: -3px;
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
}

.accordion-item {
  margin-bottom: 10px;
  border: none;
  border-radius: 5px !important;
  overflow: hidden;
}

.accordion-button {
  border-left: 5px solid #fce300;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
}

.accordion-button:focus {
  border-color: #fce300;
  box-shadow: none;
}

.accordion-button::before {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  content: "";
  background-image: url(../img/plus-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.accordion-button:not(.collapsed)::before {
  background-image: url(../img/plus-icon.png);
  transform: rotate(-45deg);
}

.accordion-button::after {
  content: none;
}

.accordion-body {
  padding-top: 0;
  border-left: 5px solid #fce300;
  border-radius: 3px !important;
  font-size: 16px;
}

.start-block {
  max-width: 995px;
  margin: 30px auto 0;
  padding: 30px;
  background-color: white;
}

.small-text {
  font-size: 14px;
  opacity: 0.7;
}

@media (min-width: 992px) {
  .faq-section {
    padding: 130px 0 70px;
  }
  .faq-title {
    font-size: 44px;
  }
  .start-block {
    margin: 80px auto 0;
    padding: 30px 50px;
  }
}

/* Footer */

.footer {
  padding: 40px 0;
}

.footer-detail {
  font-size: 14px;
  font-weight: 500;
}

.footer-link {
  font-weight: bold;
  color: #233c5f;
  transition: 0.3s;
}

.footer-link:hover {
  color: grey;
}